.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  border: 4px solid dodgerblue;
  color: grey;
  width: 10rem;
  height: 8rem;
}
